<nav class="p-4 bg-gray-800">
  <div class="container flex items-center justify-between mx-auto">
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="text-lg font-bold text-white hover:text-yellow-300"
      >Home</a
    >
    <ul class="space-x-6 hidden: md:flex">
      <li>
        <a
          routerLink="/add-product"
          routerLinkActive="router-link-active"
          class="text-white hover:text-yellow-300"
          >Add Product</a
        >
      </li>
      <li>
        <a
          routerLink="/signin"
          routerLinkActive="router-link-active"
          class="text-white hover:text-yellow-300"
          >Sign-in</a
        >
      </li>
    </ul>

    <button (click)="toggleMobileMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>
  </div>

  <ul *ngIf="isMobileMenuOpen" class="mt-4 space-y-2 md:hidden">
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="text-yellow-300"
        class="block text-white hover:text-yellow-300"
        >Home</a
      >
      <a
        [routerLink]="['/add-product']"
        routerLinkActive="text-yellow-300"
        class="block text-white hover:text-yellow-300"
        >Add Product</a
      >
    </li>
  </ul>
</nav>
