<div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="p-8 space-y-6 bg-white rounded-lg shadow-md"
  >
    <!-- product name -->
    <div class="flex flex-col">
      <label for="name" class="mb-2 text-sm font-semibold text-gray-700"
        >Email</label
      >
      <input
        type="email"
        formControlName="email"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Email is required.</small>
      </div>

      <!-- product description -->
    </div>
    <div class="flex flex-col">
      <label for="description" class="mb-2 text-sm font-semibold text-gray-700"
        >Password: </label
      >
      <input
        type="password"
        formControlName="password"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Password is required</small>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
