<div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="p-8 space-y-6 bg-white rounded-lg shadow-md"
  >
    <!-- email input -->
    <div class="flex flex-col">
      <label for="email" class="mb-2 text-sm font-semibold text-gray-700"
        >Email</label
      >
      <input
        id="email"
        type="email"
        formControlName="email"
        data-cy="email-input"
        required
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Email is required.</small>
      </div>
    </div>

    <!-- password input -->
    <div class="flex flex-col">
      <label for="password" class="mb-2 text-sm font-semibold text-gray-700"
        >Password</label
      >
      <input
        id="password"
        type="password"
        formControlName="password"
        data-cy="password-input"
        required
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Password is required</small>
      </div>
    </div>

    <!-- submit button -->
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      data-cy="login-button"
      class="w-full px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Sign in
    </button>
  </form>
</div>
