<div>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="p-8 space-y-6 bg-white rounded-lg shadow-md"
  >
    <!-- product name -->
    <div class="flex flex-col">
      <label for="name" class="mb-2 text-sm font-semibold text-gray-700"
        >Product Name:</label
      >
      <input
        type="text"
        formControlName="name"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      />
      <div
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Product name is required (min 3 characters).</small>
      </div>

      <!-- product description -->
    </div>
    <div class="flex flex-col">
      <label for="description" class="mb-2 text-sm font-semibold text-gray-700"
        >Product Description:</label
      >
      <textarea
        type="text"
        formControlName="description"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focust:ring-blue-500"
      ></textarea>
      <div
        *ngIf="
          productForm.get('description')?.invalid &&
          productForm.get('description')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        <small>Product Description is required</small>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="image" class="mb-2 text-sm font-semibold text-gray-700"
        >Image URL:</label
      >
      <input
        id="image"
        formControlName="image"
        type="text"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div class="flex flex-col">
        <app-upload (uploaded)="onPngUpload($event)" />
    </div>


    <!-- STL File URL -->
    <div class="flex flex-col">
      <label for="stl" class="mb-2 text-sm font-semibold text-gray-700"
        >STL File URL:</label
      >
      <input
        id="stl"
        formControlName="stl"
        type="text"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          productForm.get('stl')?.invalid && productForm.get('stl')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        STL file URL is required.
      </div>

    </div>

    <div class="flex flex-col">
        <app-upload (uploaded)="onStlUploaded($event)" />
    </div>

    <!-- Price -->
    <div class="flex flex-col">
      <label for="price" class="mb-2 text-sm font-semibold text-gray-700"
        >Price:</label
      >
      <input
        id="price"
        formControlName="price"
        type="number"
        min="0"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          productForm.get('price')?.invalid && productForm.get('price')?.touched
        "
        class="mt-1 text-sm text-red-500"
      >
        Price must be greater than or equal to 0.
      </div>
    </div>
    <!-- Filament Type -->
    <div class="flex flex-col">
      <label for="filamentType" class="mb-2 text-sm font-semibold text-gray-700"
        >Filament Type:</label
      >
      <select
        id="filamentType"
        formControlName="filamentType"
        class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="PLA">PLA</option>
        <option value="PETG">PETG</option>
      </select>
    </div>
    <!-- Color Picker -->
    <div class="flex flex-col">
      <label for="color" class="mb-2 text-sm font-semibold text-gray-700"
        >Color:</label
      >
 <app-color-picker
  [filamentType]="productForm.get('filamentType')?.value"
  [colorOptions]="colorOptions"
  [isLoading]="isLoading"
  [model]="colorControl.value"
  (modelChange)="colorControl.setValue($event)"
></app-color-picker>

    </div>

    <button type="submit" [disabled]="productForm.invalid">Add Product</button>
  </form>
</div>
