<fieldset aria-label="Choose a color" class="mt-2">
  <div class="flex items-center space-x-3">
    @for (option of colorOptions(); track option) {
      <label
        class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none"
        [class.ring-2]="model === option.hexValue"
        [class.ring-offset-1]="model === option.hexValue"
        [class.ring-blue-500]="model === option.hexValue"
        >
        <input
          type="radio"
          class="sr-only"
          [value]="option.hexValue"
          [checked]="model === option.hexValue"
          (change)="selectColor(option.hexValue)"
          name="color"
          />
        <span
          class="w-8 h-8 border border-black rounded-full border-opacity-10"
          [style.backgroundColor]="`${option.hexValue}`"
          aria-hidden="true"
        ></span>
        <span class="sr-only">{{ option.color }}</span>
        @if (model === option.hexValue) {
          <span
            class="absolute inset-0 rounded-full ring-2 ring-offset-2"
            aria-hidden="true"
          ></span>
        }
      </label>
    }
  </div>
</fieldset>

@if (isLoading()) {
  <div>Loading...</div>
}
